SQLAlchemy/gusqla/03sqla_sync/db/picoles.sqlite
SQLAlchemy/gusqla/03sqla_sync/models/__pycache__/__all__models.cpython-311.pyc
SQLAlchemy/gusqla/03sqla_sync/models/__pycache__/model_base.cpython-311.pyc
